/****** General ***********/
* {
    font-family: "Raleway", sans-serif;
    margin: 0;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    gap: 30px;
}
header {
    width: 100%;
    height: 79px;
    display: flex;
    justify-content: space-between;
}
#logo {
    display: flex;
    width: 161px;
    height: 100%;
    justify-content: start;
    align-items: center;
}
.logo img {
    width: 61px;
    height: 19px;
}
.header__menu {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 244px;
    height: 35px;
}
.header__menu a {
    display: flex;
    align-items: flex-end;
}
.header__menu a:hover {
    transition: all 0.3s;
    box-shadow: inset 0px 2px var(--main-color);
    color: var(--main-color);
}
.main {
    display: flex;
    gap: 35px;
    flex-direction: column;
}
.info-group {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 35px;
}
.info-group__headline {
    width: 100%;
}
.info-group__headline h2 {
    padding: 0;
    margin: 0;
}

.searchBar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 49px;
    width: 100%;
}
.searchBar-label {
    display: flex;
}
.svgbox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
    width: 50px;
    height: 100%;
}
.searchBar input {
    display: flex;
    height: 45px;
    width: 195px;
    padding: 0;
    margin: 0;
    border: 2px solid var(--main-bg-color);
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 18px;
}
.fa-magnifying-glass {
    color: #ffffff;
    display: none;
}
.fa-solid.fa-location-dot {
    color: #000000;
}
.fa-solid {
    color: var(--main-color);
}
.searchBar button {
    display: flex;
    width: 132px;
    height: 100%;
    padding: 16px;
    margin: 0;
    border: none;
    border-radius: 0 15px 15px 0;
    background-color: var(--main-color);
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    align-items: center;
}
.filterBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.btnfilter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 758px;
    gap: 15px;
    height: 50px;
}
.filterBar button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
    border-radius: 25px;
    border: 2px solid #d9d9d9;
    background-color: #fff;
    font-weight: bold;
    font-size: 120%;
    gap: 5px;
}
.filterBar button i {
    display: flex;
    justify-content: center;
    align-items: center;
}
.filterBar button:hover {
    background-color: #deebff;
}
.filterBar i {
    width: 22px;
    height: 22px;
}
.infoBar {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.circle-info {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #f2f2f2;
    justify-content: center;
    align-items: center;
    display: flex;
}
.circle-info i {
    font-size: 12px;
}
.infoBar p {
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    color: inherit;
    text-decoration: none;
}
.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    display: flex;
    flex-direction: column;
    width: 65%;
    gap: 30px;
}
.hebergements h3 {
    font-weight: bold;
    font-size: 22px;
}
.hebergements p {
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}
.hebergements-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}
.hebergements-cards a {
    width: 30%;
    margin-bottom: 5%;
}

.hebergements-cards .card {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.hebergements-cards .card img {
    width: 100%;
    height: 125px;
    border-radius: 20px 20px 0 0;
}
.hebergements .card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 15px;
    padding-right: 15px;
}
.hebergements .card-txt {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.hebergements .card-txt .card-title {
    font-size: 16px;
    font-weight: bold;
}
.hebergements .card-txt .card-subtitle {
    font-size: 1rem;
    font-weight: normal;
}

/****** Populaires ***********/
.populaires {
    width: 429px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.activity {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}
.activity-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.activity a {
    width: 23%;
    height: 439px;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}
.activity-card img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
}
.activity-card p {
    display: flex;
    height: 59px;
    padding-left: 16px;
    align-items: center;
    font-size: 90%;
    font-weight: bold;
}
#footer {
    height: 10.188rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f2f2f2;
}
#footer div {
    display: flex;
    flex-direction: column;
    width: 446px;
    padding: 20px;
    gap: 15px;
}
#footer h4 {
    font-size: 18px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filterBar {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0.938rem;
        align-items: start;
    }
    .btnfilter {
        height: 3.125rem;
        display: flex;
        justify-content: space-between;
        gap: 0.938rem;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .activity a {
        height: 16.875rem;
    }
    .activity-card img {
        height: 12.5rem;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767px) {
    .main-container {
        flex-direction: column;
        padding: 0;
        gap: 1.875rem;
    }
    #logo {
        width: 121.09px;
        height: 79px;
        justify-content: center;
    }
    .bars {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .barleft {
        height: 2px;
        background-color: var(--main-color);
        width: 50%;
    }
    .barright {
        height: 2px;
        background-color: transparent;
        width: 50%;
    }
    .btn {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .btn button {
        background: transparent;
        border: none;
        width: 50%;
    }
    .main {
        gap: 35px;
    }
    .info-group {
        padding-left: 20px;
        padding-right: 20px;
        height: auto;
        gap: 35px;
        width: auto;
    }
    .info-group__headline {
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
        gap: 8px;
    }

    .filterBar button {
        gap: 4px;
        font-size: 90%;
    }
    .filterBar button i {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fa-circle-info {
        width: 24px;
        height: 24px;
    }
    .hebergements-and-populaires .populaires {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        gap: 15px;
    }
    .populaires-cards {
        width: 100%;
        gap: 20px;
    }
    .populaires-cards a {
        width: 100%;
    }
    .hebergements-and-populaires .hebergements {
        padding: 20px;
    }
    .populaires-cards .card-title {
        font-size: 12px;
    }

    #footer {
        flex-direction: column;
        height: auto;
    }
}
@media (max-width: 600px) {
    .btnfilter button {
        font-size: 75%;
    }
    .hebergements-cards .card-rating {
        font-size: 14px;
    }
    .populaires-cards .card-rating {
        font-size: 10px;
    }
    .activity-card p {
        font-size: 77%;
    }
}
@media (max-width: 425px) {
    .header__menu {
        width: 100%;
        flex-direction: row;
    }
    .header__menu a {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        box-shadow: 0px 2px 0px #f2f2f2;
    }
    .header__menu a:hover {
        box-shadow: 0px 2px 0px var(--main-color);
    }
    header {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .searchBar {
        justify-content: center;
    }
    .searchBar button {
        width: 49px;
        color: transparent;
        flex-wrap: wrap;
        border-radius: 15px;
        transform: translate(-15px);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
    .fa-magnifying-glass {
        display: flex;
        color: #fff;
        width: 17px;
        height: 17px;
    }

    .btn a {
        display: flex;
        justify-content: center;
        width: 50%;
    }
    .filterBar {
        width: 100%;
        flex-wrap: nowrap;
        height: 161px;
        align-items: flex-start;
    }
    .btnfilter {
        flex-wrap: wrap;
    }

    .btnfilter button {
        width: 45%;
        padding-left: 19px;
        padding-right: 0;
        justify-content: start;
        font-size: 100%;
    }
    #hebergements {
        background-color: #fff;
    }
    .hebergements p {
        margin: 0;
    }
    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 15px;
    }
    .hebergements-cards {
        gap: 0;
    }
    .hebergements-cards a {
        width: 100%;
    }
    .hebergements-and-populaires section {
        border-radius: 0;
    }
    .populaires-cards {
        flex-direction: column;
    }
    .populaires-cards .card-rating {
        font-size: 16px;
    }

    .activity-cards {
        flex-direction: column;
        gap: 15px;
    }
    .activity-card p {
        font-size: 100%;
    }

    .activity a {
        width: 100%;
    }
    .hebergements-cards .card {
        width: 100%;
    }
}

/* taille du taxte qui dépasse du bouton malgré la font-size en % */
@media (max-width: 375px) {
    .btnfilter button {
        font-size: 90%;
        padding-left: 5px;
    }
}
